* {
    font-family: 'Raleway', sans-serif;
}

/* SECCIÓN NAVEGACIÓN */
.nav_color {
    background-color: initial;
}

/* SECCION MAIN */
main{
    background-color: black;
}

h1{
  color: white;  
}

/* PARA SEPARAR LA ETIQUETA NAV QUE TAPA EL MAIN  por eso se coloca + la siguiente -- ***CUANDO SE TAPA EL TEXTO*/
.navbar + header{
    margin-top: 3rem;
}

.div_card {
    width: 18rem;
}